<div class="row">
    <%= link_to ' Back', posts_path, class: "fas fa-arrow-left text-decoration-none col-4 main_cl" %>
    <p class="col-6 fw-bolder">EDIT POST</p>
    <%= link_to '', @post, class: "fas fa-eye text-decoration-none col-2 cl_green" %>
</div>

<%= render 'form', post: @post %>
