<h2>Posts</h2>
<hr>
<div class="trending_news">
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-title pt-2 text-center">
                        <%= link_to post.title.upcase(), post, class: "text-decoration-none fw-bold" %><br>
                        <hr><small class="fst-italic fw-light">
                            By : <%= post.user.email %><br>
                            On: <%= post.created_at.strftime("%Y %m %d") %>
                        </small>
                        <hr>
                    </div>
                    <div class="card-body">
                        <%= truncate(post.body, :length => 50) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>